venv/
*.pyc
__pycache__/
db.sqlite3
.env
*.log
.DS_Store

ngrok.exe
models_*.png


# Python
*.pyc
__pycache__/
venv/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# 프로젝트
ngrok.exe
models_*.png
frontend/